requests~=2.32.4
pytest~=8.3.3
allure-pytest==2.14.3
pip~=24.2
attrs~=24.2.0
wheel~=0.44.0
retry~=0.9.2
PySocks~=1.7.1
pillow~=10.4.0
docutils~=0.21.2
tornado~=6.4.1
typing_extensions~=4.12.2
pluggy~=1.5.0
Deprecated~=1.2.14
iniconfig~=2.0.0
py~=1.11.0
numpy~=2.1.1
certifi~=2024.8.30
urllib3~=2.2.3
idna~=3.10
charset-normalizer~=3.3.2
packaging~=24.1
allure-python-commons~=2.14.3